* {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: arial;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 3px;
    grid-row: 3px;
    margin-bottom: 10px;
  }
  
  .card-container {
    display: grid;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    width: 300px;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile {
    display: inline-block;
    margin-left: 10px;
    margin-top: 16px;
    width: 200px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
  }
  
  .profile:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1); 
    
  }
  
  .profile-pic {
    width: 200px;
  }
  
  .mutual-pic {
    width: 25px;
    border-radius: 20px;
  }
  
  .mutual-pic-section {
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 5px;
    
  }
  
  .mutual-friends {
    font-size: 14px;
    color: rgb(101, 119, 134);
  }
  
  .mutual-friends-section {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-top: 5px;
  }
  
  .button {
    display: block;
    font-size: 14px;
    background-color: #b22222;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 6px;
    margin-bottom: 6px;
    
  }
  
  .name {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
  }